.table tbody tr td,th{
    font-size: 20px;
}
.btn-unduh{
    border-radius: 3px;
    color: black;
    font-weight: 500;
    font-size: 16px;
    background-color: chartreuse;
    border-color: #3C4B64;
}
.btn-ubah{
    border-radius: 3px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(20, 125, 173);
    border-color: #3C4B64;
}